.navbar-nav {
  flex-direction: row;
  float: none;
}

.navbar-brand {
  padding-left: 20%;
  width: 40%;
  float: left;
}

body {
  padding-top: 10%;
  padding-bottom: 5%;
}

#leftbar
{
width: 70%;
float: left;
}

#rightbar
{
width: 20%;
float: right;
}

#content
{
width: 100%;
float: left;
}

#footer
{
width: 100%;
float: left;
margin-left: 20%;
margin-top: 3em;
margin-bottom: 3em;
}

#leftcolumn
{
width: 50%;
float: left;
}

#rightcolumn
{
width: 50%;
float: right;
}

img.pic
{
position: relative;
width: 100%;
padding: 2%;
}

h1{
font-weight: bold;
font-size: 4em;
}

h2{
font-weight: bold;
}

h4{
font-weight: bold;
}

p.lead{
font-weight: bold;
}
